<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Bienvenido a <%= title %></h2>
    <p> Este sitio ha sido desarrollado por </p><br/>
    <h3>Yaiza Vega Vargas</h3><br/>
    <p>Nacida en Madrid, un 1 de Mayo. Actualmente estudia  en la <br/>Escuela de Telecomunicaciones de la Universidad Politécnica de Madrid.</p><br/><br/>
	<h3>Marlene Andrea Fernández Hernández</h3><br/>
	<p> Nacida en Santiago de Chile, un 6 de Septiembre.<br/> Hace un par de años emigró a Madrid, donde estudia actualmente en la <br/>Escuela de Telecomunicaciones de la Universidad Politécnica de Madrid.</p><br/>
	<img width="220" height="215" src="/images/astur.jpg">
  </body>
</html>

